.carousel__img_container {
    height: 399px;
    background-color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
  }
  
  .swiper-button-next,
  .swiper-button-prev {
    color: #575757 !important;
    width: calc(40px / 44 * 27) !important;
    height: calc(40px / 44 * 27) !important;
    border-radius: 50%;
    padding: 10px;
    border: 1px solid #fff;
    background-color: #fff;
    opacity: 0.5;
  }
  
  :is(.swiper-button-next, .swiper-button-prev):hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.18);
    transition: all 0.3s ease-in-out;
    opacity: 1;
  }
  
  .swiper-button-next:after,
  .swiper-button-prev:after {
    font-size: 1.1rem !important;
  }
  