.premiumSection {
    position: relative;
    top: -21px;
    background-color: #eee;
  }
  
  .premiumSection__container {
    width: 1234px;
    padding: 31px 0px 11px;
    position: relative;
    text-align: center;
    /* border: 1px solid black; */
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }
  
  .p__title {
    font-size: 24px;
    color: #363636;
    font-weight: 700;
    text-align: center;
    padding-top: 1.6rem;
  }
  
  .premiumSection__cBox {
    text-transform: uppercase;
    width: 31.8%;
    background-color: #fff;
    margin-left: 1.5%;
    margin-bottom: 1.5%;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    bottom: 0;
    transition: box-shadow 150ms ease-out, bottom 0.2s ease;
    -webkit-transition: box-shadow 150ms ease-out, bottom 0.2s ease;
    cursor: pointer;
  }
  
  .premiumSection__cBox img {
    width: 100%;
  }
  
  .p__text {
    margin: 0 22px;
    display: block;
    height: 62px;
  }
  
  .p__head {
    text-transform: capitalize;
    font-size: 15px;
    color: #363636;
    margin-top: 19px;
  }
  
  .premiumSection__cBox {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 16px;
  }
  
  .discription {
    margin-top: 7px;
    font-size: 15px;
    color: #9e9e9e;
    text-transform: capitalize;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 260px;
    height: 17px;
    float: left;
  }
  
  p.shop-now {
    color: #363636;
    /* display: none; */
    font-size: 16px;
    margin-top: 8px;
  }
  
  .premiumSection__cBox:hover {
    bottom: 2px;
    box-shadow: 3px 5px 8px #ccc;
  }
  
  .p__text {
    font-size: 15px;
    color: #9e9e9e;
    text-align: left;
  }
  
  .view__all {
    width: 1234px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .v__1,
  .v__2 {
    width: 48%;
    height: 68px;
    line-height: 68px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 20px;
    cursor: pointer;
    transition: bottom 0.3s ease;
  }
  
  .v__1 {
    margin-left: 1%;
  }
  
  :is(.v__1, .v__2):hover {
    box-shadow: 3px 5px 8px #ccc;
  }
  