#topNavbar{
    display: grid;
    grid-template-columns: 7% 39% 7% 10% 6% 6% 7% 6% 6% 6%;
    margin-top: 15px;
}

.navbar {
    padding: 15px 0 16px 43px;
    margin: 0 auto;
    background-color: #fff !important;
    height: 2rem;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
  }
  
  .navcontainer {
    max-width: "100%";
  
    height: 2rem;
    justify-content: space-between;
  }
  
  .navsearchBox {
    margin-left: 1rem;
    width: 320px;
    border: 1px solid #eee;
    border-radius: 5px;
    background-color: #fff;
    height: 2rem;
    position: relative;
  }
  
  .navsearchBox input {
    width: 245px;
    outline: none;
  }
  
  #searchbox {
    height: 27px;
    text-align: left;
    color: #676767;
    line-height: 30px;
    padding: 0 20px 0 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    margin: 2px;
    font-size: 13px;
  }
  
  .navsearchBox:focus-within {
    border: 1px solid #ff7043;
  }
  
  .searchicon {
    color: #ff7043;
    font-size: 1.2rem;
    position: absolute;
    right: 0.5rem;
    top: 0.4rem;
    cursor: pointer;
  }
  
  .nav2 {
    height: 34px;
    width: auto;
    margin-right: 20px;
  }
  
  .navlist {
    padding-top: 8px;
    height: 34px;
  }
  
  .navlistItem {
  
    text-align: center;
    cursor: pointer;
    padding: 0 5px;
    border-right: 1px solid #d4d4d4;
    height: 20px;
    display: inline-block;

  }
  
  .navlistItem:last-child {
    border-right: none;
  }
  
  .navlistItem a {
    font-size: 12px !important;
    color: #616161;
    line-height: 17px;
  }
  
  .navlistItem a:hover {
    text-decoration: underline;
  }
  
  .heart {
    font-size: 1.2rem;
    margin-right: 5px;
    color: #616161;
  }
  
  .cart {
    font-size: 2.2rem;
    margin-right: 5px;
    position: relative;
    top: -9px;
    color: #616161;
  }
  
  .cartnumber {
    position: relative;
    top: 0px;
    right: 1.6rem;
    color: #ff7043;
    font-size: 0.9rem;
    font-weight: bold;
  }
  .intBox{
      width:200px;
  }